<div class="container">
  <div class="logo-container">
    <mat-icon class="logo-image">spa</mat-icon>
    <h1 class="logo-text">S.E Clinics</h1>
    <p class="logo-subtitle">
      Realize seu cadastro em nossa plataforma, e entre em contato com os
      melhores profissionais da saúde de nosso estado.
    </p>
  </div>
  <mat-card>
    <mat-card-content>
      <form>
        <mat-form-field class="full-width">
          <mat-label>Email:</mat-label>
          <input matInput />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Senha:</mat-label>
          <input matInput type="password" />
        </mat-form-field>
      </form>
    </mat-card-content>

    <mat-card-footer>
      <div class="button-container">
        <button mat-raised-button color="primary" class="login-button">
          Login
        </button>
      </div>
    </mat-card-footer>
  </mat-card>
</div>
