<div class="container">
  <div class="logo-container">
    <mat-icon class="logo-image">spa</mat-icon>
    <h1 class="logo-text">S.E Clinics</h1>
    <p class="logo-subtitle">
      Realize seu cadastro em nossa plataforma, e entre em contato com os
      melhores profissionais da saúde de nosso estado.
    </p>
  </div>
  <mat-card>
    <mat-card-content>
      <form [formGroup]="userForm" (ngSubmit)="onLoginSubmit()">
        <mat-form-field class="full-width">
          <mat-label>Email:</mat-label>
          <input matInput formControlName="email" />
          <mat-error *ngIf="userForm.controls['email'].invalid">
            {{ errorMessages["email"] || "Formato de e-mail inválido" }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Senha:</mat-label>
          <input matInput type="password" formControlName="password" />
          <mat-error *ngIf="userForm.controls['password'].invalid">
            {{ errorMessages["password"] || "A senha é obrigatória" }}
          </mat-error>
        </mat-form-field>

        <div class="error-message" *ngIf="errorMessages['global']">
          {{ errorMessages["global"] }}
        </div>

        <div class="button-container">
          <button
            *ngIf="!isLoading"
            mat-raised-button
            type="submit"
            color="primary"
            class="login-button"
            [disabled]="userForm.invalid || isLoading"
          >
            Login
          </button>
          <mat-spinner
            *ngIf="isLoading"
            diameter="30"
            color="primary"
            class="spinner"
          ></mat-spinner>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
